:root {
  --margin-space: 10px;
}
a {
  color: red;
}
.span-opactiy-out {
  opacity: 1;
  margin-left: var(--margin-space);
}
span {
  color: red;
  opacity: 0;
}
@keyframes extend {
  from {
    margin-left: 0;
    opacity: 0;
  }
  to {
    margin-left: var(--margin-space);
    opacity: 1;
  }
}
@keyframes retract {
  from {
    margin-left: var(--margin-space);
    opacity: 1;
  }
  to {
    margin-left: 0;
    opacity: 0;
  }
}
/* THE TIME TO EXTEND EACH LETTER > ALL ARE DISPLYED AT ONCE > DURATION IS SPEED */
.span-actionOut {
  animation-name: extend;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  /* animation-delay: 0.5s; */
}
/* TIME TO RETRACT EACH LETTER >  */
.span-actionIn {
  animation-name: retract;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@media screen and (max-width: 350px) {
  :root {
    --margin-space: 5px;
  }
}
